
.c1{
    color: rgb(136, 192, 245);
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: "Times New Roman", Times, serif;
}

.b1{
    background-color: aliceblue;
    border-style: groove;
    border-width: 3px;
    border-color: aquamarine;
    border-radius: 8px;
    color: rgb(47, 116, 93);

}

.f1{
    margin-top: 15px;
}

.t1{
    background-color: rgb(250, 248, 246);
    border-style: groove;
    border-width: 2px;
    border-radius: 8px;
    border-color: aquamarine;
}

.s1{
    margin-bottom: 20px;
    background-color: aliceblue;
    border-style: groove;
    border-width: 3px;
    border-color: rgb(114, 255, 255);
    border-radius: 7px;
}

.tl1{
    color: aliceblue;
    font-family: "Times New Roman", Times, serif;
}

.bn1{
    margin-right: 10px;
}